In [248]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [249]:
df = pd.read_excel(io='Online Retail.xlsx')
print(df.shape)
df.head()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [250]:
df.columns.values

array(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'], dtype=object)

In [251]:
df = df[df['Quantity']>0]
df.shape

(531285, 8)

In [252]:
df[df['CustomerID'].isna()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [253]:
print(df.shape)
df.dropna(subset=['CustomerID'],inplace=True)
print(df.shape)

(531285, 8)
(397924, 8)

In [277]:
customer_item_matrix=df.pivot_table(index= 'CustomerID',values=['Quantity'], columns=['StockCode'],aggfunc=sum )

In [278]:
customer_item_matrix

           Quantity                                                        \
StockCode     10002 10080 10120 10125 10133 10135 11001 15030 15034 15036
CustomerID
12346.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12347.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12348.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12349.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12350.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
18280.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18281.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18282.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18283.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18287.0         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

            ...                                                             \
StockCode   ... 90214V 90214W 90214Y 90214Z BANK CHARGES  C2 DOT    M PADS
CustomerID  ...
12346.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
12347.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
12348.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
12349.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
12350.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
...         ...    ...    ...    ...    ...          ...  ..  ..  ...  ...
18280.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
18281.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
18282.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN
18283.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  2.0  NaN
18287.0     ...    NaN    NaN    NaN    NaN          NaN NaN NaN  NaN  NaN


StockCode  POST
CustomerID
12346.0     NaN
12347.0     NaN
12348.0     9.0
12349.0     1.0
12350.0     1.0
...         ...
18280.0     NaN
18281.0     NaN
18282.0     NaN
18283.0     NaN
18287.0     NaN

[4339 rows x 3665 columns]

In [255]:
#0-1 encoding
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)

In [256]:
from sklearn.metrics.pairwise import cosine_similarity
user_user_sim_matrix = pd.DataFrame(cosine_similarity(customer_item_matrix))

In [257]:
user_user_sim_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,4329,4330,4331,4332,4333,4334,4335,4336,4337,4338
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
2,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
3,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
4,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [258]:
user_user_sim_matrix.columns =  customer_item_matrix.index
user_user_sim_matrix['CustomerID'] = customer_item_matrix.index
user_user_sim_matrix.set_index('CustomerID',inplace=True)

In [259]:
user_user_sim_matrix.loc[12346].sort_values(ascending=False)

CustomerID
12346.0    1.000000
15526.0    0.500000
15567.0    0.377964
17309.0    0.301511
17030.0    0.301511
             ...
14352.0    0.000000
14353.0    0.000000
14354.0    0.000000
14355.0    0.000000
18287.0    0.000000
Name: 12346.0, Length: 4339, dtype: float64

In [260]:
user_id = 12346
#customer_item_matrix[ customer_item_matrix.index == user_id].column_values
pd.Series(customer_item_matrix.loc[12346]==1).index

MultiIndex([('Quantity',          10002),
            ('Quantity',          10080),
            ('Quantity',          10120),
            ('Quantity',          10125),
            ('Quantity',          10133),
            ('Quantity',          10135),
            ('Quantity',          11001),
            ('Quantity',          15030),
            ('Quantity',          15034),
            ('Quantity',          15036),
            ...
            ('Quantity',       '90214V'),
            ('Quantity',       '90214W'),
            ('Quantity',       '90214Y'),
            ('Quantity',       '90214Z'),
            ('Quantity', 'BANK CHARGES'),
            ('Quantity',           'C2'),
            ('Quantity',          'DOT'),
            ('Quantity',            'M'),
            ('Quantity',         'PADS'),
            ('Quantity',         'POST')],
           names=[None, 'StockCode'], length=3665)

In [261]:
A_id = 12346
B_id = 15526
temp_A = pd.DataFrame(customer_item_matrix.loc[A_id]).reset_index()
temp_B = pd.DataFrame(customer_item_matrix.loc[B_id]).reset_index()

A_item = set(temp_A[temp_A[A_id]>0]['StockCode'])
B_item = set(temp_B[temp_B[B_id]>0]['StockCode'])

print(A_item)
print(B_item)

{23166}
{23397, 22501, 23166, 23167}

In [262]:
recListForA = B_item-A_item
recListForA

{22501, 23167, 23397}

In [263]:
#df[df['StockCode']==23166]
#customer_item_matrix.loc[12346].sum()
temp['StockCode']

0       10002
1       10080
2       10120
3       10125
4       10133
        ...
3660       C2
3661      DOT
3662        M
3663     PADS
3664     POST
Name: StockCode, Length: 3665, dtype: object

In [281]:
df[df['StockCode'].isin(recListForA)][['StockCode','Description']].drop_duplicates().set_index('StockCode')

                              Description
StockCode
22501          PICNIC BASKET WICKER LARGE
23167      SMALL CERAMIC TOP STORAGE JAR
23397         FOOT STOOL HOME SWEET HOME

In [288]:
X

           Quantity                                                          \
CustomerID  12346.0 12347.0 12348.0 12349.0 12350.0 12352.0 12353.0 12354.0
StockCode
10002             0       0       0       0       0       0       0       0
10080             0       0       0       0       0       0       0       0
10120             0       0       0       0       0       0       0       0
10125             0       0       0       0       0       0       0       0
10133             0       0       0       0       0       0       0       0
...             ...     ...     ...     ...     ...     ...     ...     ...
C2                0       0       0       0       0       0       0       0
DOT               0       0       0       0       0       0       0       0
M                 0       0       0       0       0       1       0       0
PADS              0       0       0       0       0       0       0       0
POST              0       0       1       1       1       1       0       0

                            ...                                          \
CustomerID 12355.0 12356.0  ... 18273.0 18274.0 18276.0 18277.0 18278.0
StockCode                   ...
10002            0       0  ...       0       0       0       0       0
10080            0       0  ...       0       0       0       0       0
10120            0       0  ...       0       0       0       0       0
10125            0       0  ...       0       0       0       0       0
10133            0       0  ...       0       0       0       0       0
...            ...     ...  ...     ...     ...     ...     ...     ...
C2               0       0  ...       0       0       0       0       0
DOT              0       0  ...       0       0       0       0       0
M                0       0  ...       0       0       0       0       0
PADS             0       0  ...       0       0       0       0       0
POST             0       1  ...       0       0       0       0       0


CustomerID 18280.0 18281.0 18282.0 18283.0 18287.0
StockCode
10002            0       0       0       0       0
10080            0       0       0       0       0
10120            0       0       0       0       0
10125            0       0       0       0       0
10133            0       0       0       0       0
...            ...     ...     ...     ...     ...
C2               0       0       0       0       0
DOT              0       0       0       0       0
M                0       0       0       1       0
PADS             0       0       0       0       0
POST             0       0       0       0       0

[3665 rows x 4339 columns]

In [285]:
X = df.groupby(by=['StockCode','CustomerID'])['Quantity'].sum()
X  = pd.DataFrame(X)

X = X.unstack()

X = X.applymap(lambda x: 1 if x > 0 else 0)
X

           Quantity                                                          \
CustomerID  12346.0 12347.0 12348.0 12349.0 12350.0 12352.0 12353.0 12354.0
StockCode
10002             0       0       0       0       0       0       0       0
10080             0       0       0       0       0       0       0       0
10120             0       0       0       0       0       0       0       0
10125             0       0       0       0       0       0       0       0
10133             0       0       0       0       0       0       0       0
...             ...     ...     ...     ...     ...     ...     ...     ...
C2                0       0       0       0       0       0       0       0
DOT               0       0       0       0       0       0       0       0
M                 0       0       0       0       0       1       0       0
PADS              0       0       0       0       0       0       0       0
POST              0       0       1       1       1       1       0       0

                            ...                                          \
CustomerID 12355.0 12356.0  ... 18273.0 18274.0 18276.0 18277.0 18278.0
StockCode                   ...
10002            0       0  ...       0       0       0       0       0
10080            0       0  ...       0       0       0       0       0
10120            0       0  ...       0       0       0       0       0
10125            0       0  ...       0       0       0       0       0
10133            0       0  ...       0       0       0       0       0
...            ...     ...  ...     ...     ...     ...     ...     ...
C2               0       0  ...       0       0       0       0       0
DOT              0       0  ...       0       0       0       0       0
M                0       0  ...       0       0       0       0       0
PADS             0       0  ...       0       0       0       0       0
POST             0       1  ...       0       0       0       0       0


CustomerID 18280.0 18281.0 18282.0 18283.0 18287.0
StockCode
10002            0       0       0       0       0
10080            0       0       0       0       0
10120            0       0       0       0       0
10125            0       0       0       0       0
10133            0       0       0       0       0
...            ...     ...     ...     ...     ...
C2               0       0       0       0       0
DOT              0       0       0       0       0
M                0       0       0       1       0
PADS             0       0       0       0       0
POST             0       0       0       0       0

[3665 rows x 4339 columns]

In [287]:




item_item_sim_matrix = pd.DataFrame(cosine_similarity(X))
item_item_sim_matrix.columns = X.index
#customer_item_matrix
item_item_sim_matrix['StockCode'] = X.index
item_item_sim_matrix.set_index('StockCode',inplace=True)
item_item_sim_matrix.head()

'''
item_item_sim_matrix = pd.DataFrame(cosine_similarity(X))
item_item_sim_matrix.columns = customer_item_matrix.T.index
#customer_item_matrix
item_item_sim_matrix['StockID'] = customer_item_matrix.T.index.values
item_item_sim_matrix.set_index('StockID',inplace=True)
item_item_sim_matrix.head()
'''

"\nitem_item_sim_matrix = pd.DataFrame(cosine_similarity(X))\nitem_item_sim_matrix.columns = customer_item_matrix.T.index\n#customer_item_matrix\nitem_item_sim_matrix['StockID'] = customer_item_matrix.T.index.values\nitem_item_sim_matrix.set_index('StockID',inplace=True)\nitem_item_sim_matrix.head()\n"

In [289]:
item_item_sim_matrix.head()

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.000000,0.094868,0.090351,0.062932,0.098907,0.095346,0.047673,0.075593,0.090815,...,0.0,0.0,0.0,0.0,0.0,0.029361,0.0,0.066915,0.000000,0.078217
10080,0.000000,1.000000,0.000000,0.032774,0.045655,0.047836,0.000000,0.000000,0.082261,0.049413,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.016182,0.000000,0.000000
10120,0.094868,0.000000,1.000000,0.057143,0.059702,0.041703,0.060302,0.060302,0.095618,0.028718,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.070535,0.000000,0.010993
10125,0.090351,0.032774,0.057143,1.000000,0.042644,0.044682,0.043073,0.000000,0.051224,0.030770,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.070535,0.000000,0.070669
10133,0.062932,0.045655,0.059702,0.042644,1.000000,0.280097,0.045002,0.060003,0.071358,0.057152,...,0.0,0.0,0.0,0.0,0.0,0.036955,0.0,0.070185,0.049752,0.021877

In [296]:
top_10_products = list(item_item_sim_matrix.loc[10002].sort_values(ascending=False).index)[1:10]

In [304]:
df[df['StockCode'].isin(top_10_products)][['StockCode','Description']].drop_duplicates()

       StockCode                          Description
782       90059B  DIAMANTE HAIR GRIP PACK/2 BLACK DIA
784       90059E       DIAMANTE HAIR GRIP PACK/2 RUBY
785       90059C    DIAMANTE HAIR GRIP PACK/2 MONTANA
1087       21826             EIGHT PIECE DINOSAUR SET
10135      16010   FOLDING CAMPING SCISSOR W/KNIF & S
116712    84535A        ENGLISH ROSE NOTEBOOK A6 SIZE
209599    90059F    DIAMANTE HAIR GRIP PACK/2 LT ROSE
267526     90101            WHITE FRANGIPANI NECKLACE
267527     90103           PURPLE FRANGIPANI NECKLACE

In [297]:
'''
items = []
for i in range(item_item_sim_matrix.shape[0]):
    items.append(list(item_item_sim_matrix.index.values)[i][1])

item_item_sim_matrix['StockCode'] = items
item_item_sim_matrix = item_item_sim_matrix.reset_index(drop=True)
item_item_sim_matrix.set_index('StockCode',inplace=True)
item_item_sim_matrix
'''

"\nitems = []\nfor i in range(item_item_sim_matrix.shape[0]):\n    items.append(list(item_item_sim_matrix.index.values)[i][1])\n\nitem_item_sim_matrix['StockCode'] = items\nitem_item_sim_matrix = item_item_sim_matrix.reset_index(drop=True)\nitem_item_sim_matrix.set_index('StockCode',inplace=True)\nitem_item_sim_matrix\n"